.App {
  /* margin: 0 auto;
  max-width: 1200px;
  overflow-x: scroll; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: column;
  background: #eee;
  overflow: hidden;
}

.editor {
  background: #eee;
}

.playhead {
  width: 2px;
  background: red;
  height: 100%;
  animation-duration: 5s;
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translate(454px);
  }
}
